<div class="worker-list">
  <h2>Liste des congées</h2>
  <table>
    <thead class="entete">
      <tr>
        <th>Date de départ</th>
        <th>Date de retour</th>
        <th>Nombre de jour</th>
        <th>Salarié</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dayoff of dayoff$">
        <th>{{ dayoff.debut }}</th>
        <th>{{ dayoff.fin }}</th>
        <th>{{ dayoff.duree }}</th>
        <th>{{ dayoff.Personne.nom }} {{ dayoff.Personne.prenom }}</th>
        <th>{{ dayoff.etat === true ? "accepté" : "refusé"  }}</th>

        <th><button (click)="goToValid(dayoff.id, dayoff.Personne.nom)"*ngIf="dayoff.etat == false">Validation </button></th>

        <th><button (click)="goToInvalid(dayoff.id)"*ngIf="dayoff.etat == true">Refus</button></th>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <p>&emsp;</p> 
  <button class="btn2"><a href="/newdayoff">Enregistrer un nouveau congés</a></button>
</div>
