<div class="worker-list">
  <h2>Liste des employés</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Sexe</th>
        <th>Date de naissance</th>
        <th>Type</th>
        <th>Fonction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers$">
        <th>{{ worker.nom }}</th>
        <th>{{ worker.prenom }}</th>
        <th>{{ worker.sexe }}</th>
        <th>{{ worker.date }}</th>
        <th>{{ worker.type }}</th>
        <th>{{ worker.Fonction.nom }}</th>
        <th><button (click)="goToWorker(worker.id)">Modification</button></th>
        <th><button (click)="deleteWorker(worker.id)">Supprimer</button></th>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <p>&emsp;</p>
  <button><a href="/newworker">Enregistrer un nouveau salarié</a></button>
  <p>&emsp;</p>
  <button><a href="/conges">voir les congées</a></button>
</div>
